<div id="product">
     <div class="container">
          <div class="row">
               <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product-content">
                         <div class="product-content-wrap">
                              <div class="product-title">VietstarMAX - Nhà sản xuất phim quảng cáo số 1 miền Bắc</div>
                              <div class="product-des">VietstarMAX cung cấp giải pháp tổng thể về Video quảng cáo từ
                                   việc xây dựng chiến lược, ý tưởng, quay phim tiền kỳ, dựng hậu kỳ Video và cuối cùng
                                   là phát hành Video quảng cáo đạt hiệu quả tối ưu nhất cho khách hàng.</div>
                              <div class="btn-dangkytuvan">
                                   <div class="btn-dangkytuvan-wrap">
                                        <div class="images">
                                             <img src="https://vietstarmax.vn/images/0new/contact-ico.png" alt="">
                                        </div>
                                        <div class="text">
                                             Đăng ký tư vấn
                                        </div>
                                   </div>

                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-lg-8 col-md-6 col-sm-6">

                    <div class="product-img">
                         <img  src="https://vietstarmax.vn/images/2020/06/22/intro-vietstarmax.jpg"
                         alt="">
                    </div>

               </div>

          </div>
     </div>
</div>
