<div class="tvc-banner" [ngStyle]="{'background-image': 'url(' + list.background + ')'}"  >
    <div class="background">
        <div class="banner-content body-wrapper row " [ngClass]="list.colorTextWhite? 'colorWhite': ''">
            <div class="col-12">
                <div class="banner-title">
                    {{list.title}}
                </div>
                <div class="banner-desc">
                    {{list.desc}}
                </div>
                <div class="banner-btn">
                    <button id="myBtn" class="dkbtn">Đăng ký tư vấn</button>
                </div>
            </div>
        </div>
    </div>

</div>
