<div id="logoKhachHang">
  <div class="lgkh-wrap">
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">
      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>


  </div>
  <div class="lgkh-wrap">
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">
      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>
    <div class="lgkh-item">
      <div class="lgkh-item-wrap">
        <img src="https://vietstarmax.vn/images/0new/kh/bidv.webp" alt="">

      </div>
    </div>


  </div>
</div>
