#logoKhachHang {
  display: inline-block;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  .lgkh-wrap {
    display: flex;
    flex-wrap: wrap;
    .lgkh-item {
      padding: 2px;
      width: 9.5%;
      .lgkh-item-wrap {
        border: 1px solid #efefef;
        img {
          width: 100%;
          padding: 2px;
        }
      }
    }
  }
}
@media only screen and (max-width: 1199px) {
  #logoKhachHang {

    .lgkh-wrap {

      .lgkh-item {

        width: 19.5%;


      }
    }
  }

}
