<div id="SX-PHIM-SITCOM">
    <div class="row body-wrapper">
        <div class="col-lg-12">
            <app-breadcrumb [list]="breadcrumb"></app-breadcrumb>
        </div>

        <div class="col-12 col-sm-8">
            <div class="sp-content">
                <div class="sp-header">
                    <h1>Sản phẩm PHIM SITCOM – HÀI TẾT</h1>
                </div>

                <div class="sp-text">
                    <h2><b>A. Phim Sitcom là gì?</b></h2>
                    <p><span> Sitcom là cụm từ viết tắt của <b>Situation Comedy</b> - thể loại phim nhiều tập, trong đó câu chuyện xoay quay một chủ đề cụ thể nào đó và xen lẫn vào nội dung là những tình huống hài hước. Nội dung thường xoay quanh cuộc sống hằng ngày, đặt con người trong mối quan hệ gia đình, bạn bè, đồng nghiệp … và lồng vào đó những tình huống để nhân vật ứng xử đồng thời tạo tiếng cười cho khán giả.</span></p>


                    <h2><b>B. Đặc Điểm Của Phim Sitcom</b></h2>
                    <p><span>Đặc điểm đầu tiên dễ nhận thấy nhất của sitcom đó là số lượng tập phim thường nhiều hơn so với các thể loại khác và có thể lên đến con số hàng trăm. Mỗi một tập hoặc vài tập sẽ được tập trung vào một chủ đề nào đó với cốt truyện và các tình huống riêng xen lẫn với những nội dung hài hước, giải trí.</span></p>
                    <p><span>Thời lượng của phim sitcom không quá dài, thường là từ 10 đến 15 phút cho mỗi một tập. Mục đích của sitcom là truyền tải những thông điệp bổ ích đến cho khán giả thông qua những tình huống và nội dung trên phim.</span></p>
                    <p><span>Đặc điểm thứ hai mà Hcare muốn gửi đến bạn về phim sitcom đó là thể loại này chủ yếu được thực hiện tại các trường quay. Chỉ khi cần quay ngoại cảnh thì đội ngũ sản xuất phim mới di chuyển ra các địa điểm khác.</span></p>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-4">
            <app-dich-vu-menu></app-dich-vu-menu>
        </div>

    </div>
</div>
