<div id="THIET-KE-QUANG-CAO">
    <app-banner-layout [list]="banner"></app-banner-layout>
    <app-navigation [list]="navigation"></app-navigation>
    <app-gioi-thieu-layout [list]="gioiThieu"></app-gioi-thieu-layout>

    <app-loi-ich-layout [list]="loiIch"></app-loi-ich-layout>

    <div class="cac-loai-thiet-ke">
        <div class="content">
            <div class="row body-wrapper">
                <div class="col-12">
                    <div class="cac-loai-content">
                        <div class="title">Các loại thiết kế quảng cáo 2D Vietstarmax cung cấp</div>
                    </div>
                </div>

                <div class="col-12 col-sm-6">
                    <div class="img" style="display: flex;align-items: center;">
                        <img style="height: auto;"
                            src="	https://vietstarmax.vn/images/bai-dich-vu/thiet-ke-2d/tk2d3.jpg" alt="">
                    </div>
                </div>
        
                <div class="col-12 col-sm-6">
                    <div class="sppb-addon-content">
                        <ul>
                            <li><p>Thiết kế Banner, Pano, Standee, biển hiệu quảng cáo OOH ngoài trời,...</p></li>
                            <li><p>Thiết kế Profile - hồ sơ năng lực cho doanh nghiệp hoặc cá nhân.</p></li>
                            <li><p>Thiết kế các ấn phẩm Catalogue cho sản phẩm</p></li>
                            <li><p>Làm phim quảng cáo 2D</p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12">
                    <div class="dk3">
                        <a class="button" href="#popup1">
                            <button id="myBtn" class="dkbtn">Đăng ký tư vấn</button>
                        </a>
                    </div>
                </div>
        

        
            </div>
        </div>
    </div>

    <app-tai-sao-lua-chon-layout [list]="taiSao"></app-tai-sao-lua-chon-layout>
    <app-san-pham-thuc-hien [listItem]="list"></app-san-pham-thuc-hien>
    <app-khach-hang-noi-ve-chung-toi [list]="khachHangNoiVeChungToi"></app-khach-hang-noi-ve-chung-toi>

</div>
