<div class="container-fluid">
    <div class="row" id="DICH_VU">
        <div class="dichvu-banner">
            <div class="background">
                <div class="banner-content body-wrapper row">
                    <div class="col-12">
                        <div class="banner-title">
                            Các dịch vụ Vietstarmax cung cấp
                        </div>
                        <div class="banner-desc">
                            Với&nbsp; hơn 2000 video clip và trên 12 năm kinh ngiệm làm truyền thông quảng cáo.
                            Vietstarmax hân
                            hạnh cung cấp dịch vụ sản xuất phim quảng cáo, dịch vụ truyền thông chất lượng tốt nhất
                        </div>
                        <div class="banner-btn">
                            <button id="myBtn" class="dkbtn">Đăng ký tư vấn</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dich-vu-content body-wrapper">
            <div class="title">Dịch vụ nổi bật</div>

            <div class="items">
                <div class="item">
                    <div class="item-img">
                        <img src="https://vietstarmax.vn/images/0new/dich-vu-san-xuat-phim-tvc-quang-cao-w.png" alt="">
                    </div>
                    <div class="item-text">
                        <div class="test-title">DỊCH VỤ SẢN XUẤT</div>
                        <div class="test-desc">PHIM QUẢNG CÁO TVC</div>
                    </div>
                </div>

                <div class="item">
                    <div class="item-img">
                        <img src="https://vietstarmax.vn/images/0new/dich-vu-san-xuat-phim-viral-w.png" alt="">
                    </div>
                    <div class="item-text">
                        <div class="test-title">DỊCH VỤ SẢN XUẤT</div>
                        <div class="test-desc">PHIM VIRAL VIDEO</div>
                    </div>
                </div>

                <div class="item">
                    <div class="item-img">
                        <img src="https://vietstarmax.vn/images/0new/dich-vu-san-xuat-phim-doanh-nghiep-w.png" alt="">
                    </div>
                    <div class="item-text">
                        <div class="test-title">DỊCH VỤ SẢN XUẤT</div>
                        <div class="test-desc">PHIM DOANH NGHIỆP</div>
                    </div>
                </div>

                <div class="item">
                    <div class="item-img">
                        <img src="https://vietstarmax.vn/images/0new/dich-vu-truyen-thong-tong-the-w.png" alt="">
                    </div>
                    <div class="item-text">
                        <div class="test-title">DỊCH VỤ </div>
                        <div class="test-desc">Truyền thông tổng thể</div>
                    </div>
                </div>

                <div class="item">
                    <div class="item-img">
                        <img src="https://vietstarmax.vn/images/0new/dich-vu-marketing-online-w.png" alt="">
                    </div>
                    <div class="item-text">
                        <div class="test-title">DỊCH VỤ </div>
                        <div class="test-desc">MARKETING ONLINE</div>
                    </div>
                </div>


            </div>


        </div>
        <div class="infomations">
            <div class="body-wrapper">
                <div class="row">
                    <div class="col-12 col-sm-6 img">
                        <div class="title">
                            <h2>Danh mục dịch vụ</h2>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 content-1">
                        <h3 class="sppb-addon-title">Dịch vụ sản xuất phim - Hình ảnh</h3>
                        <div class="sppb-addon-content">
                            <ul class="dv-list">
                                <li class="dv1-item current-item active">
                                    <a href="/vi/dich-vu/san-xuat-tvc-quang-cao.html">Sản xuất TVC quảng cáo</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu/san-xuat-phim-doanh-nghiep.html">Sản xuất phim doanh nghiệp</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu/dich-vu-lam-phim-viral-video.html">Sản xuất phim viral
                                        video</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu/san-xuat-phim-quang-cao-3d-animation.html">Sản xuất phim quảng
                                        cáo 3D animation</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu/phim-du-an-bat-dong-san.html">Phim dự án Bất động sản</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu/san-xuat-phim-hinh-anh/chup-anh-quang-cao.html">Chụp ảnh quảng
                                        cáo</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu/thiet-ke-quang-cao-2d.html">Thiết kế quảng cáo 2D</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu-thu-am-quang-cao.html">Thu âm quảng cáo - Radio voice</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu/san-xuat-phim-hinh-anh/san-xuat-chuong-trinh-truyen-hinh.html">Sản
                                        xuất chương trình truyền hình</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 content-2">
                        <h3 class="sppb-addon-title">Dịch vụ booking quảng cáo media</h3>
                        <div class="sppb-addon-content">
                            <ul class="dv-list">
                                <li class="dv1-item current-item active">
                                    <a href="/vi/dich-vu/san-xuat-tvc-quang-cao.html">Dịch vụ truyền thông tổng thể</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu/san-xuat-phim-doanh-nghiep.html">Booking quảng cáo media</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu/dich-vu-lam-phim-viral-video.html">Booking quảng cáo truyền hình</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu/san-xuat-phim-quang-cao-3d-animation.html">Booking Người nổi tiếng KOL</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu/phim-du-an-bat-dong-san.html">Booking Quảng cáo phát thanh - Voice Radio</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu/san-xuat-phim-hinh-anh/chup-anh-quang-cao.html">Booking Quảng cáo Thang máy</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu/thiet-ke-quang-cao-2d.html">Booking Quảng cáo Xe buýt</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu-thu-am-quang-cao.html">Booking quảng cáo OOH - quảng cáo ngoài trời</a>
                                </li>
                                <li class="dv1-item">
                                    <a href="/vi/dich-vu/san-xuat-phim-hinh-anh/san-xuat-chuong-trinh-truyen-hinh.html">Dịch vụ tổ chức sự kiện</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 content-3">
                        <h3 class="sppb-addon-title">Dịch vụ marketing online</h3>
                        <div class="sppb-addon-content"><ul class="dv-list">
                            <li class="dv1-item">
                                <a href="/vi/dich-vu/marketing-online/dich-vu-marketing-online.html">Dịch vụ Marketing Online</a>
                            </li>
                            <li class="dv1-item">
                                <a href="/vi/dich-vu/marketing-online/thiet-ke-website.html">Thiết kế Website</a>
                            </li>
                            <li class="dv1-item">
                                <a href="/vi/dich-vu/marketing-online/quang-cao-google-ads.html">Quảng cáo Google Ads</a>
                            </li>
                            <li class="dv1-item">
                                <a href="/vi/dich-vu/marketing-online/quang-cao-bai-pr.html">Quảng cáo Bài PR</a>
                            </li>
                            <li class="dv1-item">
                                <a href="/vi/dich-vu/marketing-online/quang-cao-banner-tren-bao.html">Quảng cáo Banner trên báo</a>
                            </li>
                            <li class="dv1-item">
                                <a href="/vi/dich-vu/marketing-online/quan-tri-fanpage-facebook.html">Quản trị Fanpage Facebook</a>
                            </li>
                            <li class="dv1-item">
                                <a href="/vi/dich-vu/marketing-online/quang-cao-facebook.html">Quảng cáo facebook</a>
                            </li>
                            <li class="dv1-item">
                                <a href="/vi/dich-vu/marketing-online/quang-cao-zalo.html">Quảng cáo Zalo</a>
                            </li>
                            <li class="dv1-item">
                                <a href="/vi/dich-vu/marketing-online/quang-cao-youtube.html">Quảng cáo Youtube</a>
                            </li>
                            <li class="dv1-item">
                                <a href="/vi/dich-vu/marketing-online/quang-cao-tiktok.html">Quảng cáo Tiktok</a>
                            </li>
                            <li class="dv1-item">
                                <a href="/vi/dich-vu/marketing-online/seeding-chatbot-tool.html">Seeding, chatbot, tool</a>
                            </li>
                        </ul></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



