<div class="item">
  <div class="header">
    <div class="avatar">
      <img src="https://vietstarmax.vn/images/2020/08/07/kh-biahn2.jpg" alt="">
    </div>
    <div class="title">
      <div class="name">Ông nguyễn Hồng Linh </div>
      <div class="des">Tổng giám đốc bia Hà Nội</div>
    </div>
  </div>
  <div class="body">
    Khi đưa đầu bài cho team sáng tạo của Vietstarmax chúng tôi rất hy vọng các bạn sẽ cho chúng tôi một kịch bản sáng tạo hay để làm bất ngờ cho người xem, cuối cùng các bạn đã làm cho chúng tôi vô cùng bất ngờ với sản phẩm thưc hiện
  </div>

</div>
