<div class="tabbar">
     <div class="wrap">
          <div class="title">
               <div class="title-tabbar">
                    Dịch vụ
               </div>
          </div>
          <ul class="list">
               <div class="list-item">
                    <div class="title-2">
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                   class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                   <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                              </svg></i>
                         <p>Dịch vụ sản xuất phim – hình ảnh</p>
                    </div>
                    <li>
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-chevron-right" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                              </svg></i>
                         <p>Sản xuất TVC quảng cáo</p>
                    </li>
               </div>
               <div class="list-item">
                    <div class="title-2">
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                   class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                   <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                              </svg></i>
                         <p>Sản xuất Phim Quảng Cáo</p>
                    </div>
                    <li>
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-chevron-right" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                              </svg></i>
                         <p>Sản xuất Phim Quảng Cáo</p>
                    </li>
               </div>
               <div class="list-item">
                    <div class="title-2">
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                   class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                   <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                              </svg></i>
                         <p>Sản xuất Phim Doanh Nghiệp</p>
                    </div>
                    <li>
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-chevron-right" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                              </svg></i>
                         <p>Sản xuất Phim Doanh Nghiệp</p>
                    </li>
               </div>
               <div class="list-item">
                    <div class="title-2">
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                   class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                   <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                              </svg></i>
                         <p>Sản xuất Phim Tài Liệu Truyền Hình</p>
                    </div>
                    <li>
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-chevron-right" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                              </svg></i>
                         <p>Sản xuất Phim Tài Liệu Truyền Hình</p>
                    </li>
               </div>
               <div class="list-item">
                    <div class="title-2">
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                   class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                   <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                              </svg></i>
                         <p>Sản xuất Phim Sitcom</p>
                    </div>
                    <li>
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-chevron-right" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                              </svg></i>
                         <p>Sản xuất Phim Sitcom</p>
                    </li>
               </div>
               <div class="list-item">
                    <div class="title-2">
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                   class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                   <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                              </svg></i>
                         <p> Sản xuất Hài Tết</p>
                    </div>
                    <li>
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-chevron-right" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                              </svg></i>
                         <p> Sản xuất Hài Tết</p>
                    </li>
               </div>
               <div class="list-item">
                    <div class="title-2">
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                   class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                   <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                              </svg></i>
                         <p>Sản xuất phim Viral</p>
                    </div>
                    <li>
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-chevron-right" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                              </svg></i>
                         <p>Sản xuất phim Viral</p>
                    </li>
               </div>
               <div class="list-item">
                    <div class="title-2">
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                   class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                   <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                              </svg></i>
                         <p>Cho thuê trường quay</p>
                    </div>
                    <li>
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-chevron-right" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                              </svg></i>
                         <p>Cho thuê trường quay</p>
                    </li>
               </div>
               <div class="list-item">
                    <div class="title-2">
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                   class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                   <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                              </svg></i>
                         <p> BOOKING QUẢNG CÁO</p>
                    </div>
                    <li>
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-chevron-right" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                              </svg></i>
                         <p> BOOKING QUẢNG CÁO</p>
                    </li>
               </div>
               <div class="list-item">
                    <div class="title-2">
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                   class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                   <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                              </svg></i>
                         <p>Tổ Chức Sự Kiện</p>
                    </div>
                    <li>
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-chevron-right" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                              </svg></i>
                         <p> Tổ Chức Sự Kiện</p>
                    </li>
               </div>
          </ul>
     </div>
     <div class="wrap">
          <div class="title">
               <div class="title-tabbar">
                    Sản Phẩm
               </div>
          </div>
          <ul class="list">
               <div class="list-item">
                    <div class="title-2">
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                   class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                   <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                              </svg></i>
                         <p>TVC PHIM QUẢNG CÁO</p>
                    </div>
                    <li>
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-chevron-right" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                              </svg></i>
                         <p>Sản phẩm TVC quảng cáo</p>
                    </li>
               </div>
               <div class="list-item">
                    <div class="title-2">
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                   class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                   <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                              </svg></i>
                         <p>PHIM TÀI LIỆU TRUYỀN HÌNH</p>
                    </div>
                    <li>
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-chevron-right" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                              </svg></i>
                         <p>Phim tài liệu truyền hình</p>
                    </li>
               </div>
               <div class="list-item">
                    <div class="title-2">
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                   class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                   <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                              </svg></i>
                         <p>PHIM SITCOM – HÀI TẾT</p>
                    </div>
                    <li>
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-chevron-right" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                              </svg></i>
                         <p>Phim sitcom - hài tết</p>
                    </li>
               </div>
               <div class="list-item">
                    <div class="title-2">
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                   class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                   <path
                                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z" />
                              </svg></i>
                         <p>PHIM SITCOM – HÀI TẾT</p>
                    </div>
                    <li>
                         <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                   class="bi bi-chevron-right" viewBox="0 0 16 16">
                                   <path fill-rule="evenodd"
                                        d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                              </svg></i>
                         <p>Tổ chức sự kiện</p>
                    </li>
               </div>
          </ul>
     </div>

</div>
