<div id="PHIM-QUANG-CAO-3D-ANIMATION">
    <app-banner-layout [list]="banner"></app-banner-layout>
    <app-navigation [list]="navigation"></app-navigation>
    <app-gioi-thieu-layout [list]="gioiThieu"></app-gioi-thieu-layout>
    <app-loi-ich-layout [list]="loiIch"></app-loi-ich-layout>
    <app-dich-vu-bao-hom-layout [list]="dichVu"></app-dich-vu-bao-hom-layout>
    <app-tai-sao-lua-chon-layout [list]="taiSao"></app-tai-sao-lua-chon-layout>
    <app-san-pham-thuc-hien [listItem]="sanPhamThucHien"></app-san-pham-thuc-hien>
    <app-khach-hang-noi-ve-chung-toi [list]="khachHangNoiVeChungToi"></app-khach-hang-noi-ve-chung-toi>
</div>