<div class="gioi-thieu body-wrapper">
    <div class="tvc-content" [ngStyle]="{'background-image': 'url(' + header.iconUrl + ')'}">
        <div class="title">{{header.title}}</div>
    </div>
    <div class="desc">{{header.desc}}
    </div>
</div>

<div class="content">
    <div class="row body-wrapper">
        <div class="col-12 col-sm-6">
            <div class="img">
                <img [src]="content.urlContent" alt="">
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="sppb-addon-content">
                <p *ngFor="let item of content.desc">
                    <strong>{{item.title}}</strong>
                    {{item.desc}}
                    </p>
            </div>

        </div>

        <div class="col-12">
            <div class="dk3">
                <a class="button" href="#popup1">
                    <button id="myBtn" class="dkbtn">Đăng ký tư vấn</button>
                </a>
            </div>
        </div>
    </div>
</div>
