<div class="container-fluid">
    <div class="row" id="SAN_XUAT">
        <div class="dichvu-banner">
            <div class="background">
                <div class="banner-content body-wrapper row">
                    <div class="col-12">
                        <div class="banner-title">
                            Các dịch vụ Vietstarmax cung cấp
                        </div>
                        <div class="banner-desc">
                            Với&nbsp; hơn 2000 video clip và trên 12 năm kinh ngiệm làm truyền thông quảng cáo.
                            Vietstarmax hân
                            hạnh cung cấp dịch vụ sản xuất phim quảng cáo, dịch vụ truyền thông chất lượng tốt nhất
                        </div>
                        <div class="banner-btn">
                            <button id="myBtn" class="dkbtn">Đăng ký tư vấn</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="dich-vu-content body-wrapper">
                <div class="title">Dịch vụ sản xuất phim - hình ảnh</div>
                <div class="desc">Danh sách các dịch vụ cung cấp</div>
            </div>

            <div class="infomation">
                <div class="body-wrapper ">
                    <div class="items">
                        <div class="item">
                            <div class="image">
                                <div class="img">
                                    <a href="#"><img src="https://vietstarmax.vn/images/2020/06/15/san-xuat-tvc1.png" alt=""></a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="">Sản xuất Phim quảng cáo TVC</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <div class="img">
                                    <a href="#"><img src="https://vietstarmax.vn/images/2020/06/15/phim-viral11.png" alt=""></a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="">Sản xuất Phim viral video</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <div class="img">
                                    <a href="#"><img src="https://vietstarmax.vn/images/2020/06/15/san-xuat-phim-doanh-nghiep1.png" alt=""></a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="">Sản xuất Phim doanh nghiệp</a>
                            </div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="item">
                            <div class="image">
                                <div class="img">
                                    <a href="#"><img src="https://vietstarmax.vn/images/2020/06/15/phim-3d1.png" alt=""></a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="">Phim quảng cáo 3D Animation</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <div class="img">
                                    <a href="#"><img src="https://vietstarmax.vn/images/2020/06/15/phim-bat-dong-san1.png" alt=""></a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="">Phim dự án Bất động sản</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <div class="img">
                                    <a href="#"><img src="https://vietstarmax.vn/images/2020/06/15/chup-anh-quang-cao1.png" alt=""></a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="">Chụp ảnh quảng cáo</a>
                            </div>
                        </div>
                    </div>
                    <div class="items">
                        <div class="item">
                            <div class="image">
                                <div class="img">
                                    <a href="#"><img src="https://vietstarmax.vn/images/2020/06/15/thiet-ke-2d-quang-cao1.png" alt=""></a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="">Thiết kế quảng cáo 2D</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <div class="img">
                                    <a href="#"><img src="https://vietstarmax.vn/images/2020/06/15/thu-am-qoang-cao1.png" alt=""></a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="">Thu âm quảng cáo - Radio voice</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="image">
                                <div class="img">
                                    <a href="#"><img src="https://vietstarmax.vn/images/2020/06/15/san-xuat-chuowng-trinh-th.png" alt=""></a>
                                </div>
                            </div>
                            <div class="text">
                                <a href="">Sản xuất chương trình truyền hình</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
