<div id="CHUP-ANH-QUANG-CAO">
    <app-banner-layout [list]="banner"></app-banner-layout>
    <app-navigation [list]="navigation"></app-navigation>
    <app-gioi-thieu-layout [list]="gioiThieu"></app-gioi-thieu-layout>

    <div class="chup-anh-qc-la-gi body-wrapper" >
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="desc">
                    <h3>Chụp ảnh quảng cáo là gì?</h3>
                    <p>Chụp ảnh quảng cáo là hình thức tiếp thị và là một khía cạnh không thể thiếu của truyền thông. Công việc chụp ảnh quảng cáo có nhiều yêu cầu về các kích thước ảnh, về chất lượng file ảnh, hay về góc chụp ảnh, màu sắc của từng ảnh sao cho phù hợp với ngành nghề công việc của job chụp ảnh đó. </p>
                    <p>Chính bởi vậy mà nhiều doanh nghiệp chưa đủ khả năng hay nhân lực trong công ty chưa chuyên sâu đều cần dịch vụ chụp ảnh quảng bá từ các agency cho chính doanh nghiệp của mình. </p>
                </div>
            </div>


            <div class="col-12 col-sm-6">
                <div class="img">
                    <img src="https://vietstarmax.vn/images/2020/07/01/chup-anh-quang-cao1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="hinh-thuc-chup-anh-qc">
        <div class="body-wrapper">
            <div class="title">Các hình thức chụp ảnh quảng cáo</div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="img">
                        <img src="https://vietstarmax.vn/images/2020/07/01/chup-anh-quang-cao4.jpg" alt="">
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="desc right">

                        <p>Chụp ảnh quảng cáo cũng được chia ra làm nhiều phân loại khác nhau để khách hàng được tư vấn kĩ lưỡng với nhu cầu cần thiết cho doanh nghiệp mình. </p>
                        <p>Nếu phân loại theo đối tượng có thể phân thành 2 loại chính:</p>
                        <ul>
                            <li><p>Chụp ảnh quảng cáo sản phẩm, dịch vụ: Được thực hiện nhằm với mục đích làm ảnh Catalogue giới thiệu sản phẩm chuyên nghiệp tới khách hàng của doanh nghiệp đó. Chụp ảnh quảng cáo sản phẩm, dịch vụ thường đòi hỏi trình độ kĩ thuật cao để làm ra bức ảnh đẹp nhất.</p></li>
                            <li><p>Chụp ảnh quảng cáo cho doanh nghiệp: thường là chụp ảnh công sở/công trường/văn phòng/… cửa hàng với thương hiệu của công ty, chụp ảnh nhân viên, chụp ảnh cho sự kiện của công ty. Hình thức chụp ảnh này cung cấp ảnh cho các hoạt động truyền bá thương hiệu, tác phong, văn hóa của công ty để khách hàng và nhân viên cùng thấy. </p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="desc">
                        <p>Chụp ảnh quảng cáo doanh nghiệp còn có thể thực hiện ngay trong quá trình Vietstarmax làm phim quảng cáo tvc hoặc phim doanh nghiệp/phim phóng sự cho khách hàng tùy theo nhu cầu.</p>
                        <ul class="text-left"><li><p>Chụp ảnh quảng bá thương hiệu cá nhân.</p></li></ul>
                        <p>Cách thức phân loại theo chụp ảnh quảng cáo sản phẩm cũng khá đa dạng tùy theo ngành nghề:</p>
                        <ul class="text-left">
                            <li><p>Chụp ảnh quảng cáo sản phẩm thời trang</p></li>
                            <li><p>Chụp ảnh quảng cáo sản phẩm hóa mỹ phẩm</p></li>
                            <li><p>Chụp ảnh quảng cáo nhà hàng, khách sạn</p></li>
                            <li><p>Chụp ảnh quảng cáo nội thất và kiến trúc</p></li>
                            <li><p>….</p></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6">
                    <div class="img">
                        <img src="https://vietstarmax.vn/images/2020/07/01/chup-anh-quang-cao5.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="vai-tro-chup-anh-qc body-wrapper">
        <div class="title">Vai trò của chụp ảnh quảng cáo chuyên nghiệp</div>

        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="desc">
                    <p>Với nhiều doanh nghiệp vừa và nhỏ thường tiết kiệm chi phí bằng việc tự thực hiện bộ ảnh doanh nghiệp/sản phẩm/sự kiện,... của doanh nghiệp mình bằng điện thoại.</p>
                    <p>Nếu xét về mặt chi phí tại thời điểm, đó là phương pháp khá hữu ích. Tuy nhiên, để có thể chỉn chu về hình ảnh cũng như thiết kế, các doanh nghiệp vẫn nên sử dụng dịch vụ chụp ảnh quảng cáo chuyên nghiệp được cung cấp bởi các agency có nhiều kinh nghiệm.</p>
                    <p>Chụp ảnh quảng cáo chuyên nghiệp được các agency cung cấp luôn được doanh nghiệp ưu tiên lựa chọn bởi:</p>
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="desc right">
                    <p>Truyền tải đúng nội dung thông điệp của sản phẩm qua cách sáng tạo concept chụp ảnh</p>
                    <p>Hình ảnh hấp dẫn, chi tiết và sắc nét, mô tả chân thực nhất về sản phẩm và doanh nghiệp</p>
                    <p>Tăng doanh thu nhờ vào hình ảnh thu hút người xem, kích thích người tiêu dùng bỏ tiền ra mua sản phẩm</p>
                    <p>Tạo ra bộ ảnh đồng nhất (bởi concept đồng bộ đưa ra trong quá trình chụp), dễ dàng cho quá trình thiết kế catalogue, xây dựng bộ nhận diện thương hiệu, khách hàng và đối tác cũng dễ dàng nhận biết thương hiệu hơn.</p>
                    <p>Tiết kiệm chi phí, thời gian thiết kế hơn bởi các agency có sự chuyên nghiệp, hoàn thành và bàn giao sản phẩm đúng tiến độ.</p>
                    <p>Tăng mức độ nhận diện, tên tuổi, thương hiệu cho cá nhân, doanh nghiệp.</p>
                </div>
            </div>
        </div>

    </div>

    <app-dich-vu-bao-hom-layout [list]="dichVu"></app-dich-vu-bao-hom-layout>
    <div class="vai-tro-chup-anh-qc"></div>
    <app-san-pham-thuc-hien [listItem]="sanPhamThucHien"></app-san-pham-thuc-hien>
    <app-khach-hang-noi-ve-chung-toi [list]="khachHangNoiVeChungToi"></app-khach-hang-noi-ve-chung-toi>

</div>
