<div class="content tai-sao">
    <div class="row body-wrapper">
        <div class="col-12 title">
            <h3 class="sppb-addon-title">{{header.title}}</h3>
            <p>{{header.desc}}</p>
        </div>

        <div class="col-12 col-sm-6">
            <div class="sppb-col">
                <span *ngFor="let item of contentLeft">
                    <p class="loi-ich-title">{{item.title}}</p>
                    <p *ngFor="let itemText of item.desc">{{itemText}}</p>
                </span>
            </div>
        </div>

        <div class="col-12 col-sm-6">
            <div class="sppb-col">
                <span *ngFor="let item of contentRight">
                    <p class="loi-ich-title">{{item.title}}</p>
                    <p *ngFor="let itemText of item.desc">{{itemText}}</p>
                </span>
            </div>
        </div>



        <div class="col-12 lien-he">
            <p *ngFor="let item of lienHe">
                {{item.text}} <a class="lien-he-ngay" [href]="'tel:+'+item.phone">{{item.textLink}}</a></p>
        </div>


        <div class="col-12 luu-y">
            <div class="sppb-addon">
                <h3 class="sppb-addon-title">{{luuY.title}}</h3>
                <div class="sppb-addon-content-luu-y">
                    <p class="info" *ngFor="let item of luuY.desc">{{item}}</p>

                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="dk3">
                <a class="button" href="#popup1">
                    <button id="myBtn" class="dkbtn">Đăng ký tư vấn</button>
                </a>
            </div>
        </div>
    </div>
</div>