<div id="sp-header">
  <div class="container">
    <div class="row">
      <div id="sp-logo" class="col-lg-2 ">
        <div class="logo">
          <a href="">
            <img class="logo-image" src="https://vietstarmax.vn/images/0new/vietstarmax.png" alt="VietstarMax">
          </a>
        </div>
      </div>
      <div id="sp-menu" class="col-lg-8 ">
        <nav class="sp-menu-nav" role="navigation">
          <ul class="sp-menu-ul">
            <li class="sp-menu-li">
              <div class="sp-menu-li-wrap">
                <a class="sp-menu-li-text" href="">Dịch vụ</a>
                <i><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                    class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                  </svg>
                </i>
              </div>
              <div class="sp-dropdown">
                <ul class="sp-dropdown-ul">
                  <li class="sp-dropdown-li">
                    <div class="sp-dropdown-li-wrap">
                      <a class="sp-dropdown-li-text" href="">SẢN XUẤT PHIM - HÌNH ẢNH</a>
                      <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                          class="bi bi-chevron-right" viewBox="0 0 16 16">
                          <path fill-rule="evenodd"
                            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                        </svg></i>
                    </div>
                    <div class="sp-dropdown sp-dropdown-lv2">
                      <ul class="sp-dropdown-ul">
                        <li class="sp-dropdown-li">
                          <div class="sp-dropdown-li-wrap">
                            <a class="sp-dropdown-li-text" href=""> SẢN XUẤT TVC QUẢNG CÁO</a>
                          </div>
                        </li>
                        <li class="sp-dropdown-li">
                          <div class="sp-dropdown-li-wrap">
                            <a class="sp-dropdown-li-text" href=""> SẢN XUẤT PHIM VIRAL VIDEO</a>
                          </div>
                        </li>
                        <li class="sp-dropdown-li">
                          <div class="sp-dropdown-li-wrap">
                            <a class="sp-dropdown-li-text" href=""> SẢN XUẤT PHIM DOANH NGHIỆP</a>
                          </div>
                        </li>
                        <li class="sp-dropdown-li">
                          <div class="sp-dropdown-li-wrap">
                            <a class="sp-dropdown-li-text" href=""> SẢN XUẤT PHIM QUẢNG CÁO 3D ANIMATION</a>
                          </div>
                        </li>
                        <li class="sp-dropdown-li">
                          <div class="sp-dropdown-li-wrap">
                            <a class="sp-dropdown-li-text" href=""> PHIM DỰ ÁN BẤT ĐỘNG SẢN</a>
                          </div>
                        </li>
                        <li class="sp-dropdown-li">
                          <div class="sp-dropdown-li-wrap">
                            <a class="sp-dropdown-li-text" href="">CHỤP ẢNH QUẢNG CÁO</a>
                          </div>
                        </li>
                        <li class="sp-dropdown-li">
                          <div class="sp-dropdown-li-wrap">
                            <a class="sp-dropdown-li-text" href="">THIẾT KẾ QUẢNG CÁO 2D</a>
                          </div>
                        </li>
                        <li class="sp-dropdown-li">
                          <div class="sp-dropdown-li-wrap">
                            <a class="sp-dropdown-li-text" href=""> THU ÂM QUẢNG CÁO - RADIO VOICE</a>
                          </div>
                        </li>
                        <li class="sp-dropdown-li">
                          <div class="sp-dropdown-li-wrap">
                            <a class="sp-dropdown-li-text" href="">SẢN XUẤT CHƯƠNG TRÌNH TRUYỀN HÌNH</a>
                          </div>
                        </li>

                      </ul>
                    </div>
                  </li>
                  <li class="sp-dropdown-li">
                    <div class="sp-dropdown-li-wrap">
                      <a class="sp-dropdown-li-text" href="">BOOKING QUẢNG CÁO
                        <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                          </svg></i>
                      </a>
                    </div>
                  </li>
                  <li class="sp-dropdown-li">
                    <div class="sp-dropdown-li-wrap">
                      <a class="sp-dropdown-li-text" href="">TRUYỀN THÔNG ONLINE

                        <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-chevron-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                              d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
                          </svg></i>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </li>
            <li class="sp-menu-li">
              <div class="sp-menu-li-wrap">
                <a class="sp-menu-li-text" href="">Sản phẩm</a>
                <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                  </svg>
                </i>
              </div>
            </li>
            <li class="sp-menu-li">
              <div class="sp-menu-li-wrap">
                <a class="sp-menu-li-text" href="">Báo giá</a>
                <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                  </svg>
                </i>
              </div>
            </li>
            <li class="sp-menu-li">
              <div class="sp-menu-li-wrap">
                <a class="sp-menu-li-text" href="">Về VietstarMax</a>
                <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                  </svg>
                </i>
              </div>
            </li>
            <li class="sp-menu-li">
              <div class="sp-menu-li-wrap">
                <a class="sp-menu-li-text" href="">Blog</a>
                <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                  </svg>
                </i>
              </div>
            </li>
            <li class="sp-menu-li">
              <div class="sp-menu-li-wrap">
                <a class="sp-menu-li-text" href="">Liên hệ tư vấn</a>
                <i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                      d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                  </svg>
                </i>
              </div>
            </li>
          </ul>
        </nav>
      </div>
      <div id="sp-search" class="col-lg-2 ">
        <div class="sp-search-wrap">
          <div class="search">
            <div class="wrap-input-search">
              <input  [class]="showInputSearch? 'input-search tran' :'input-search '" type="text" placeholder="Từ khoá">
            </div>
            <i (click)="showInput()"> <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                class="bi bi-search" viewBox="0 0 16 16">
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
              </svg></i>
          </div>
          <div class="lang">
            <div class="lang-vn "><a class="active-lang" href="">VI</a></div>
            <div class="lang-en"><a href="">EN</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
