<div class="menu-dich-vu">
    <h3 class="sp-module-title">Dịch vụ</h3>
    <div class="sp-module-content">
        <ul class="menu">
            <li class="item"><a routerLink="/dichvu/san-xuat-phim-quang-cao"> Sản xuất Phim Quảng Cáo</a></li>
            <li class="item"><a routerLink="/dichvu/san-xuat-phim-doanh-nghiep">Sản xuất Phim Doanh
                    Nghiệp</a></li>
            <li class="item"><a routerLink="/dichvu/san-xuat-phim-tai-lieu-truyen-hinh">Sản xuất Phim Tài Liệu Truyền
                    Hình</a></li>
            <li class="item"><a routerLink="/dichvu/san-xuat-phim-sitcom">Sản xuất Phim Sitcom</a></li>
            <li class="item"><a routerLink="/dichvu/booking-quang-cao">Booking Quảng cáo</a></li>
            <li class="item"><a routerLink="/dichvu/san-xuat-phim-hai-tet">Sản xuất Hài Tết</a></li>
            <li class="item"><a routerLink="/dichvu/san-xuat-phim-viral">Sản xuất phim Viral</a></li>
            <li class="item"><a routerLink="/dichvu/to-chuc-su-kien">Tổ chức sự kiện</a></li>
            <li class="item"><a routerLink="/dichvu/cho-thue-truong-quay">Cho thuê trường quay</a></li>
        </ul>
    </div>
</div>
