#PHIM-TAI-LIEU-TRUYEN-HINH{
    padding-top: 90px;
    padding-bottom: 50px;

    .sp-content{
        .sp-header{
            h1{
                font-size: 32px;
                font-weight: 500;
                line-height: 38px;
                color: #000000;
                line-height: 1.2;
            }
            text-align: left;
            border-bottom: 1px solid #eee;
        }

        .sp-text{
            h2{
                padding: 20px 0;
                font-size: 28px;
            }
            p{
                display: flex;
                font-size: 18px;
                color: #000000;
                padding-left: 15px;
                span{
                    display: block;
                    padding-left: 10px;
                }
            }
            ul{
                padding-left: 50px;
                li{
                    font-size: 18px;
                    color: #000000;
                    list-style-type: disc;
                    padding-bottom: 5px;
                }
            }
        }
    }
}