<div id="PHIM-TAI-LIEU-TRUYEN-HINH">
    <div class="row body-wrapper">
        <div class="col-lg-12">
            <app-breadcrumb [list]="breadcrumb"></app-breadcrumb>
        </div>

        <div class="col-12 col-sm-8">
            <div class="sp-content">
                <div class="sp-header">
                    <h1>Sản phẩm PHIM TÀI LIỆU TRUYỀN HÌNH</h1>
                </div>

                <div class="sp-text">
                    <h2><b>A. Phim Tài Liệu Truyền Hình Là Gì?</b></h2>

                    <p>- <span> Phim tài liệu truyền hình là một thể loại báo chí truyền hình nằm trong nhóm thể loại chính luận nghệ thuật. Nó nói lên tư tưởng, chủ đề, tức là tính chính luận của báo chí. Thông qua việc xây dựng hình tượng từ những sự việc, hiện tượng, con người cụ thể có thật trong đời sống xã hội trong quá khứ hoặc hiện tại. Nói cách khác, phim tài liệu truyền hình dùng sự thật để xây dựng hình tượng nghệ thuật, qua đó làm nhiệm vụ giáo dục thẩm mỹ và định hướng cách nhận thức sự thật đó cho công chúng. Có 3 loại phim tài liệu:</span></p>
                    <ul>
                        <li>Phim thời sự tài liệu</li>
                        <li>Phim tài liệu địa chí</li>
                        <li>Phim tài liệu giáo khoa</li>
                        <li>Phim tài liệu phân tích</li>
                    </ul>

                    <h2><b>B. Chức Năng Của Phim Tài Liệu Truyền Hình:</b></h2>
                    <p>- <span><b>Thông tấn và báo chí:</b> Chức năng quan trọng nhất, chi phối toàn bộ quá trình sáng tạo phim tài liệu truyền hình, dẫn tới quan niệm phim tài liệu truyền hình là một thể loại tác phẩm báo chí truyền hình</span></p>

                    <p>- <span> <b>Chức năng giáo dục và nhận thức:</b> Nâng cao nhận thức và tư duy của người xem, thông qua những hình ảnh có thật về con người, đất nước, thiên nhiên, sự kiện, sự việc, với tất cả phong phú đa dạng của nó</span></p>
                    <p>- <span> <b>Chức năng thẩm mỹ và giá trị tư liệu lịch sử:</b> Giá trị tư liệu lịch sử của phim tài liệu truyền hình nói riêng cũng như phim tài liệu nói chung, đặc biệt đối với các sự kiện, sự việc chỉ xảy ra một lần hoặc những sự kiện, sự việc, con người…</span></p>

                </div>
            </div>
        </div>

        <div class="col-12 col-sm-4">
            <app-dich-vu-menu></app-dich-vu-menu>
        </div>

    </div>
</div>
