#sp-bottom {
  background-color: #231f20;
  color: #fff;
  .sp-container-fluid {
    width: 100%;

    .sp-bottom-wrap {
      padding: 60px 0;
      color: #a2a2a2;
      .sp-bottom-item {
        margin-bottom: 30px;

      }
    }
  }
}
