<div class="container-fluid">
  <div id="Link">
      <div class="row body-wrapper">
          <div id="sp-breadcrumb2" class="col-lg-12 ">
              <ol class="breadcrumb">
                  <li class="float-left">
                      <span class="divider fa fa-location" aria-hidden="true"></span>
                  </li>
                  <li class="breadcrumb-item">
                      <a href="/vi/" class="pathway"><span>Trang chủ</span></a>
                      <meta content="1">
                  </li>
                  <li class="breadcrumb-item " *ngFor="let item of list; index as i;"
                      [ngClass]="(i == lenghtList)?'active':''">
                      <a *ngIf="!(i === lenghtList)" href={{item.link}} class="pathway"><span>{{item.text}}</span></a>
                      <span *ngIf="(i === lenghtList)">{{item.text}}</span>
                      <meta [content]="i + 2">
                  </li>


              </ol>
          </div>


          <div class="content">
              <div class="title">Khách hàng nói về chúng tôi</div>

              <div #nameInput class="items row" [ngStyle]="{'marginLeft.px': marginLeft}">
                  <div class="item col-4">
                      <div class="info">
                          <div class="img">
                              <img src="https://vietstarmax.vn/images/2020/08/07/kh-duoc-vd2.jpg" alt="">
                          </div>
                          <div class="text">
                              <h2>Ông Nguyễn Đăng Bẩy</h2>
                              <span>CTHĐQT, TGĐ công ty dược phẩm Việt Đức</span>
                          </div>
                      </div>
                      <div class="comment">
                          Khi đưa đầu bài cho team sáng tạo của Vietstarmax chúng tôi rất hy vọng các bạn sẽ cho chúng
                          tôi một kịch bản sáng tạo hay để làm bất ngờ cho người xem, cuối cùng các bạn đã làm cho
                          chúng tôi vô cùng bất ngờ với sản phẩm thưc hiện
                      </div>
                  </div>
                  <div class="item col-4">
                      <div class="info">
                          <div class="img">
                              <img src="https://vietstarmax.vn/images/2020/08/07/kh-biahn2.jpg" alt="">
                          </div>
                          <div class="text">
                              <h2>Ông Nguyễn Hồng Linh</h2>
                              <span>Tổng giám đốc - Bia Hà Nội</span>
                          </div>
                      </div>
                      <div class="comment">
                          Chúng tôi đã hợp tác với Vietstarmax trong nhiều năm và thấy rất hài lòng về sản phẩm cuối
                          cùng của chúng tôi
                      </div>
                  </div>
                  <div class="item col-4">
                      <div class="info">
                          <div class="img">
                              <img src="https://vietstarmax.vn/images/2020/08/07/kh-hsb2.jpg" alt="">
                          </div>
                          <div class="text">
                              <h2>Chị Phạm Thị Lý</h2>
                              <span>GĐ Thương hiệu và Đối ngoại Ngân hàng SHB </span>
                          </div>
                      </div>
                      <div class="comment">
                          Team thực hiện dự án cho Vietstarmax rất nhiệt tình, nhiều dự án của chúng tôi phải làm liên
                          tục xuyên đêm cả tuần mà các bạn vẫn đáp ứng đúng tiến độ đặt ra
                      </div>
                  </div>
                  <div class="item col-4">
                      <div class="info">
                          <div class="img">
                              <img src="https://vietstarmax.vn/images/2020/08/07/kh-ferroli2.jpg" alt="">
                          </div>
                          <div class="text">
                              <h2>Chị Đặng Thị Hoài</h2>
                              <span>Phó tổng giám đốc - Tập đoàn Ferroli </span>
                          </div>
                      </div>
                      <div class="comment">
                          Tôi đánh giá rất cao team sản xuất của các bạn, làm việc rất chuẩn thời gian và chất lượng
                          phim rất đẹp
                      </div>
                  </div>
                  <div class="item col-4">
                      <div class="info">
                          <div class="img">
                              <img src="https://vietstarmax.vn/images/2020/08/07/kh-duoc-vd2.jpg" alt="">
                          </div>
                          <div class="text">
                              <h2>Ông Nguyễn Đăng Bẩy </h2>
                              <span>CTHĐQT, TGĐ công ty dược phẩm Việt Đức</span>
                          </div>
                      </div>
                      <div class="comment">
                          Khi đưa đầu bài cho team sáng tạo của Vietstarmax chúng tôi rất hy vọng các bạn sẽ cho chúng
                          tôi một kịch bản sáng tạo hay để làm bất ngờ cho người xem, cuối cùng các bạn đã làm cho
                          chúng tôi vô cùng bất ngờ với sản phẩm thưc hiện
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
