<div id="SX-PHIM-QC">
    <div class="row body-wrapper">
        <div class="col-lg-12">
            <app-breadcrumb [list]="breadcrumb"></app-breadcrumb>
        </div>

        <div class="col-12 col-sm-8">
            <div class="sp-content">
                <div class="sp-header">
                    <h1>Sản phẩm TVC - Phim quảng cáo</h1>
                </div>

                <div class="sp-text">
                    <h2><b>A. TVC Hay còn gọi là Phim | Quảng Cáo là gì?</b></h2>

                    <p>- <span> TVC là cụm từ viết tắt của từ <b>Television Commercials</b>. TVC là thuật ngữ Marketing chỉ một
                            hình thức quảng bá sản phẩm/dịch vụ bằng hình ảnh mang tính thương mại hóa thông qua các
                            phương tiện chuyên dụng.</span></p>
                    <p>- <span><b>TVC có mấy loại:</b> Thông thường TVC sẽ được tính bằng giây và được chia ra thành các
                            mốc: <b>5s, 10s, 15s, 20s & 30s</b></span></p>

                    <h2><b>B. TVC sẽ sử dụng ở đâu?</b></h2>
                    <p><span>Vì TVC là hình thức quảng bá sản phẩm/dịch vụ bằng hình ảnh nên sử dụng ở đâu còn phụ thuộc
                            vào đặc thù của mỗi sản phẩm/dịch vụ hay mong muốn của khách hàng. Tuy nhiên thông thường
                            TVC hay sử dụng trên các kênh như: Phát sen kẽ trong các chương trình giải trí, thể thao,
                            phim truyện,v.v… trên <b>Truyền Hình</b>, trên các kênh <var>Online, Thang Máy, Màn hình Led</var> tại các
                            điểm nhiều người chú ý, v.v…</span></p>

                    <h2> <b>C. ƯU ĐIỂM CỦA TVC</b> </h2>
                    <p><span>TVC vẫn là hình thức quảng bá sản phẩm hấp dẫn và quan trọng trong chiến lược Marketing của nhiều doanh nghiệp vì nó có những điểm cộng như:</span></p>
                        <ul>
                            <li>Tạo dựng được niềm tin rất tốt: </li>
                            <li>Độ lan tỏa và độ phủ cao</li>
                            <li>Dễ thu hút sự chú ý</li>
                            <li>Truyền tải thông điệp ngắn gọn súc tích.</li>
                        </ul>

                        <h2> <b>D. QUY TRÌNH SẢN XUẤT TVC</b> </h2>
                            <ul>
                                <li>Thu thập dữ liệu & mong muốn của khách hàng (Client)</li>
                                <li>Lên ý tưởng kịch bản (Concept)</li>
                                <li>Việt kịch bản văn học (Crips Idea)</li>
                                <li>Viết kịch bản có hình minh họa </li>
                                <li>Chọn diễn viên (Casting)</li>
                                <li>Sản xuất tiền kỳ</li>
                                <li>Sản xuất hậu kỳ</li>
                                <li>Xuất thành phẩm giao cho khách hàng.</li>
                            </ul>

                </div>
            </div>
        </div>

        <div class="col-12 col-sm-4">
            <app-dich-vu-menu></app-dich-vu-menu>
        </div>

    </div>


</div>